# Generic python dependencies
pip==26.0.1
pre-commit==4.5.1
ruff==0.15.1
ty==0.0.17

# Home Assistant testing dependencies
pytest-homeassistant-custom-component==0.13.315
syrupy>=4.6.1

# Component dependencies
hassil>=2.0.4
home-assistant-intents>=2024.4.3

google-adk==1.25.1
aiofiles==25.1.0

# Eval dependencies
synthetic-home==5.0.2
home-assistant-datasets==0.3.0
